{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{setup, "2.0.2"},
	{lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.2"}}},
	{osmo_ss7, {git, "https://gitea.osmocom.org/erlang/osmo_ss7", {ref, "3c6cdc5a53c4a5ec1aff417f2cbfaa9449004ee6"}}},
	{osmo_gsup,  {git, "https://gitea.osmocom.org/erlang/osmo_gsup", {ref, "ee15ee2b44f4a57c57831393d1fed2dc215d36e4"}}}
]}.

{minimum_otp_vsn, "20.3"}.
{plugins, [
	{rebar3_diameter_compiler,
	  {git, "https://github.com/carlosedp/rebar3_diameter_compiler.git", {tag, "0.8.0"}}}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{provider_hooks,
        [{pre,
                [{compile, {diameter, compile}},
                 {clean, {diameter, clean}}
        ]}
]}.

{dia_opts, []}.

{dialyzer, [
	{plt_extra_apps, [kernel, stdlib, erts, tools, inets, compiler, diameter]},
	{warnings, [no_improper_lists]}
	]}.

{escript_incl_apps, [osmo_epdg]}.
{escript_main_app, osmo_epdg}.
{escript_name, "osmo-epdg"}.
